<h2>Welcome</h2>

<link href="banner.css" rel="stylesheet" type="text/css" />
     
<script type="text/jscript" src="banner.js"></script>
     
<div id="banner" class="banner">
     
	<div id="banner_img">
    	<img src="home/thais/projects/ehHoje/app/assets/images/banner_img/1.jpg" width="900px" height="300px" border="0" alt="Banner">      
    </div>
        
    <div id="botoes">
        <a href="javascript:void(0);" id="banner_img_1" class="hover" onclick="mudaImg('0');">1</a>
        <a href="javascript:void(0);" id="banner_img_2" onclick="mudaImg('1');">2</a>
    	<a href="javascript:void(0);" id="banner_img_3" onclick="mudaImg('2');">3</a>
        <a href="javascript:void(0);" id="banner_img_4" onclick="mudaImg('3');">4</a>
    </div>
     
</div>

<section id="artigo">
	<footer>
		<div id="art1">
			<img src="../../assets/images/art1.jpeg" alt="Logo" />
			<h3><b>Titulo</b></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</p> <a id="read" href="">Leia mais</a>
		</div>
		
		<div id="art2">
			<img src="../../assets/images/art2.jpeg" alt="Logo" />
			<h3><b>Titulo</b></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</p> <a id="read" href="">Leia mais</a>
		</div>
		
		<div id="art3">	
			<img src="../../assets/images/art3.jpeg" alt="Logo" />
			<h3><b>Titulo</b></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</p> <a id="read" href="">Leia mais</a>
		</div>
	<footer>
</section>
<hr>
<hr>