nav{
	clear: both;
	padding-top: 1%;
	background-color: white;
}

nav ul{
	padding: 0px;
	list-style: none;
	width: 100%;
	text-align: center;
	color: white;
}

nav ul li{
	display: inline;
	position: relative;
	padding: 0px 5%;
	background-color:purple;
	border-radius: 10px;
}